# STEAM = my dev production account
STEAM_LGN=
STEAM_PSW=

STEAM_API_KEY=

# TEST STEAM - my dev testing account
STEAM_TEST_LGN=
STEAM_TEST_PSW=

# MY STEAM - my main account 
STEAM_MY_LGN=
STEAM_MY_PSW=

# DOTA 2
DOTA_STEAMID=
DOTA_FRIENDID=