# lazy one-file reqs for all subfolders 
# just so i have one lazy venv

# ipython notebooks
ipykernel

# hero grid
requests

# biweely quest refresh
pyautogui
requests
opencv-python
click
easygui

# ListEmoticons
vpk
vdf
ipykernel
tqdm
Pillow

# social feed
steam
dota2